
/* Navbar */
nav{
    display: flex; 
    align-items: center;
    background: #181818;
    padding: 15px 40px;
    border-bottom: 2px solid #D4AF37;
}

.logo img{
    width: 50px;
    height: auto;
}

.menu{
    display: flex;
    margin-left: auto;   /* ดันเมนูไปทางขวา */
    gap: 40px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover{
    color: #D4AF37;
}
.menu-header{
      height: 500px;
    background:
        linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
        url("../css/images/bacground3.jpg");

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 100px;
}
.logo a{
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    color: #D4AF37;
    font-family: "Aclonica", sans-serif;
    letter-spacing: 2px;
}

.logo a:hover{
    color: #FFD700;
}
    /*หัว*/

.hero{
    height: 500px;
    background:
        linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
        url("../css/images/background.png");

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.hero-content{
    max-width: 600px;
}

.hero h1{
    font-size: 30px;
    color: white;
}

.hero h1 span{
    color: #D4AF37;
}

.hero p{
    color: #ddd;
    font-size: 22px;
}
    /*ช้างใน*/
    body{
    margin:0;
    font-family:"Poppins", sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
        url("../images/background.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    color:white;
    }
.concert-list{
background-color: #121212;
    display: block;
    text-align: center;
    padding: 60px 40px;
}
.concert-list h2{
    color:#D4AF37;
}
.concert-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}
.card{
    width: 280px;
    background: #1E1E1E;
    border: 2px solid #D4AF37;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
}

.card img{
    width: 100%;
    height: 350px;      /* กำหนดความสูงให้เท่ากัน */
    object-fit: cover;  /* ครอปรูปให้เต็มพื้นที่ */
    border-radius: 10px;
    display: block;
}
.btn-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn{
    display: inline-block;
    padding: 14px 30px;
    background:#FFD700;
    color: #121212;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover{
    background:white;
}
/*ทำไมต้องเลือก NeoTicket?*/
.features{
    background-color: #181818;
    display:block;
    text-align:center;
    padding:60px 40px;
}

.features h2{
    color: #D4AF37;
    margin-bottom: 40px;
}

.feature-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    background: #1E1E1E;
    border: 2px solid #D4AF37;
    border-radius: 15px;
    padding: 25px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(212,175,55,0.4);
}

.card h3{
    color: #D4AF37;
    margin-bottom: 15px;
}
/* Testimonials */
.testimonials{
  
    width: 100%;
    padding: 60px 40px;
    text-align: center;
    box-sizing: border-box;
}

.testimonials h2{
    color: #D4AF37;
    margin-bottom: 40px;
}

/* กล่องรีวิว */
.testimonial-box{
    display: flex;
    justify-content: center;   /* จัดกลาง */
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.review-card{
    width: 320px;
    background: #1E1E1E;
    border: 2px solid #D4AF37;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    transition: .3s;
}

.review-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(212,175,55,.4);
}

.review-card img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #D4AF37;
}

.review-card h3{
    color: #D4AF37;
    margin-bottom: 10px;
}

.review-card p{
    color: #fff;
    line-height: 1.6;
}
/*ข้างล้าง*/

/*menu คอนเสิร์ต*/
.concert-page{
    padding:70px 50px;
    text-align:center;
}

.concert-page h1{
    color:#D4AF37;
    font-size:42px;
    margin-bottom:15px;
}

.concert-page p{
    color:#ddd;
    margin-bottom:40px;
}

.concert-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 35px;
}

.concert-card{
    background:#1E1E1E;
    border:2px solid #D4AF37;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
}

.concert-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px rgba(212,175,55,.5);
}

.concert-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.concert-card h2{
    color:#FFD700;
    margin:20px 0 10px;
}

.concert-card p{
    color:#ddd;
    margin:8px 0;
}

.concert-card h3{
    color:#FFD700;
    margin:20px 0;
}

.concert-card .btn{
    margin-bottom:20px;
}
/* Promotion */

.promotion{

    background:#D4AF37;

    color:#121212;

    text-align:center;

    padding:60px 20px;

    margin-top:60px;

}

.promotion h2{

    font-size:36px;

    margin-bottom:15px;

}

.promotion p{

    font-size:20px;

    margin-bottom:25px;

}

.promotion .btn{

    background:#121212;

    color:white;

}

.promotion .btn:hover{

    background:white;

    color:#121212;

}
/* Contact */

.contact{
    padding:80px 40px;
    text-align:center;
}

.contact h1{
    color:#D4AF37;
    font-size:42px;
}

.subtitle{
    color:#ddd;
    margin:20px 0 50px;
}

.contact-container{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.contact-info,
.contact-form{

    width:420px;

    background:#1E1E1E;

    border:2px solid #D4AF37;

    border-radius:15px;

    padding:30px;

    text-align:left;
}

.contact-info h2,
.contact-form h2{
    color:#FFD700;
    margin-bottom:20px;
}

.contact-info p{
    margin:18px 0;
    color:white;
}

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#2a2a2a;

    color:white;

    font-size:16px;
}

.contact-form input:focus,
.contact-form textarea:focus{

    outline:2px solid #D4AF37;
}

.contact-form button{

    width:100%;
}
 
/* CTA */

.cta{

    background:#D4AF37;

    color:#121212;

    text-align:center;

    padding:70px 20px;

}

.cta h2{

    font-size:38px;

    margin-bottom:15px;

}

.cta p{

    font-size:20px;

    margin-bottom:25px;

}

.cta .btn{

    background:#121212;

    color:white;

}

.cta .btn:hover{

    background:white;

    color:#121212;

}
/* Page Header */

.page-header{
      height: 500px;
    background:
        linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
        url("../css/images/bacground2.jpg");

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.page-header h1{
    font-size:42px;
    color:#D4AF37;
    margin-bottom:15px;
}

.page-header p{
    color:#ddd;
    font-size:18px;
}
/* Google Map */

.map{
    border: #FFD700 solid 2px;

    padding:70px 40px;

    text-align:center;

}

.map h2{

    color:#D4AF37;

    margin-bottom:30px;

}

.map iframe{

    width:100%;

    height:400px;

    border:2px solid #D4AF37;

    border-radius:15px;

}
footer{

    background:#111;

    border-top:2px solid #D4AF37;

    margin-top:60px;

}

.footer-container{

    max-width:1200px;

    margin:auto;

    padding:40px 20px;

    display:flex;

    justify-content:space-between;

    flex-wrap:wrap;

    gap:40px;

}

.footer-box{

    flex:1;

    min-width:250px;

}

.footer-box h2,
.footer-box h3{

    color:#D4AF37;

}

.footer-box p{

    color:#ddd;

    line-height:1.8;

}

.social{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

}

.social a{

    color:white;

    text-decoration:none;

}

.social a:hover{

    color:#D4AF37;

}

.copyright{

    text-align:center;

    padding:18px;

    border-top:1px solid rgba(255,255,255,.1);

    color:#ccc;

}
@media(max-width:768px){

nav{

    flex-direction:column;

}

.menu{

    margin-left:0;

    margin-top:15px;

}

.hero{

    padding:40px;

    height:auto;

    text-align:center;

}

.concert-grid{

    grid-template-columns:1fr;

}

.contact-container{
    
    background-color: #FFD700;
    flex-direction:column;

}

.footer-container{

    flex-direction:column;

    text-align:center;

}

.social{

    justify-content:center;

}

